:root {
    --bg-color: #ffe0e5;
    --color: #f53192;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
.root {
    width: 100%;
    height: 100%;
}
.main-body {
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.player {
    left: 0;
    z-index: 5;
}
.player-2 {
    right: 0;
    z-index: 1;
}
.player, .player-2 {
    position: relative;
    transition: 0.2s ease;
    align-content: space-between;
    background-color: var(--bg-color);
    width: 340px;
    height: 500px;
    display: grid;
    overflow: hidden;
}
.playing {
    transition: 0.5s ease;
    background-color: var(--bg-color);
    position: relative;
    top: 0;
    width: inherit;
    justify-self: center;
    z-index: 1;
}
.playing nav {
    display: grid;
    width: 100%;
    text-align: right;
}
.arrow-down {
    height: fit-content;
}
.arrow-down i {
    transition: 0.2s all;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    float: right;
    color: rgba(255, 26, 26, 1);
    width: 30px;
    height: 30px;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: white;
    transform: rotate(180deg);
    box-shadow: 0px -5px 5px rgba(255, 26, 26, 0.22);
}

.turn-arrow {
    transform: rotate(0deg) !important;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22) !important;
}

.hide-r-player {
    right: 180px !important;
}
.hide-l-player {
    left: 180px !important;
}

/* ------- Artist Info ------- */
.artist-info {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ar-img {
    border: 10px solid white;
    width: 12.5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 25px rgba(255, 26, 26, 0.22);
}
.s-title {
    margin-top: 20px;
}
/* ------- Artist Info Ended ------- */

/* -------- Controls -------- */
.fixed-controls {
    display: grid;
    position: relative;
    width: 100%;
    gap: 20px;
    z-index: 5;
    background-color: var(--bg-color);
}

#progress {
    align-self: center;
    justify-self: center;
    -webkit-appearance: none;
    width: 90%;
    height: 6px;
    background-color: var(--color);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    margin: 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.controls div {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color);
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div img {
    width: 25px;
}
.controls div:nth-child(2) {
    transform: scale(1.5);
    color: white;
    background-color: var(--color);
}

#play-song {
    display: block;
}
#pause-song {
    display: none;
}

/* Global CSS */
.p-t-20 {
    padding-top: 20px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-x-20 {
    padding-left: 20px;
    padding-right: 20px;
}